app/code/local/Brainworx/Rental/etc/wsi.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:typens="urn:{{var wsdl.name}}"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}"
             targetNamespace="urn:{{var wsdl.name}}">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:{{var wsdl.name}}">
            <xsd:element name="zorgpuntCustomerLoginRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                    	<xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="email" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="zorgpuntCustomerLoginResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="customerSessionID" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>  
        </xsd:schema>
    </wsdl:types> 
    <wsdl:message name="zorgpuntCustomerLoginRequest">
        <wsdl:part name="parameters" element="typens:zorgpuntCustomerLoginRequestParam" />
    </wsdl:message>
    <wsdl:message name="zorgpuntCustomerLoginResponse">
        <wsdl:part name="parameters" element="typens:zorgpuntCustomerLoginResponseParam" />
    </wsdl:message>
    <wsdl:portType name="{{var wsdl.handler}}PortType">
        <wsdl:operation name="zorgpuntCustomerLogin">
            <wsdl:documentation>Login customer</wsdl:documentation>
            <wsdl:input message="typens:zorgpuntCustomerLoginRequest" />
            <wsdl:output message="typens:zorgpuntCustomerLoginResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="zorgpuntCustomerLogin">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>
